PORT=3000
JWT_SECRET=change-this-to-a-random-secret-in-production
DATABASE_URL=postgresql://user:password@localhost:5432/messenger
GOOGLE_DRIVE_FOLDER_ID=1D_Dm6hB1o_Ml4cZlIG6tdUVG61we_50a
GOOGLE_CREDENTIALS=хуй